<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}{{ 'site.title'|trans }}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/pure-min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/main-grid.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/marketing.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/dbuconference/css/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="body">
            {% block header %}
                <div class="header">
                    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
                        <a class="pure-menu-heading" href="{{ path('/cms/simple') }}">{{ 'site.slogan'|trans }}</a>

                        {{ knp_menu_render('simple', {'currentClass': 'pure-menu-selected', 'depth': 1}) }}
                    </div>
                </div>
            {% endblock %}

            <div class="content-wrapper">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="content flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% block content %}
                    <div class="content">
                    </div>
                {% endblock %}

                {% block content_footer %}
                    <div class="ribbon l-box is-center">
                        <h2>{{ 'site.action_attend'|trans }}</h2>
                        <a href="{{ path('dbu_conference_subscribe') }}" class="pure-button primary-button">Sign up</a>
                    </div>
                {% endblock %}

                {% block footer %}
                    <div class="footer l-box is-center">
                        {{ 'site.description'|trans }}
                    </div>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
